.content{
    padding-top: 0px;
}

.container-top-buffer {
    margin-top:50px;
  }
  
h2{
    text-align: center;
    padding: 5px;
    padding-top: 10px;
}
p{
    text-align: center;
    padding: 5px;
}
h3{
    text-align: center;
    padding: 5px;

}

.introduction{
    font-size: 18px;
}

ul li{
    list-style-type: circle; 
}

.whatInfo p{
    text-align: left;
}

.name{
    font-weight: bold;
    font-size: 18px;
}

.tooltip p {
    margin: 2px !important;
}

path.county {
    stroke: #fff !important;
}

path.county:hover{
    fill: #ffcb05 !important;
    cursor: pointer !important;
}

.notipc{
    margin: 20px;
    display: inline-block;
    height: 50px;
}
.isIpc{
    background-color: white;
    margin: 20px;
    display: inline-block;
    height: 20px;
}

.pleasereachout{
    padding-top: 25px;
    font-size: 20px;
}
.modal-body form-group{
    padding-bottom: 25px;
}

.incidentcount{
    display: block;
    height: 35px;
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.mapandcount{
    background-color: #f8f8f8;
}
.unitEms{
    border-left: 12px solid #587abc;
}
.unitMe{
    border-left: 12px solid #575294;

}
.numberIncidents{
    font-weight: bold;
    font-size: 18px;
}

.topIPC{
    display: inline-block;
    margin: 5px;
    height: 20px;
}
.topHIDTA{
    display: inline-block;
    margin: 5px;
    height: 50px;
}

.mapbg{
    padding: 15px;
}

h6{
    font-weight: bold;
}

.whatInfo{
    padding-top: 15px;
}