.content{
}

.allpagestuff{
    min-height: 90vh;
}

.alert{
    padding-top: 55px;
    width: 100%;
}
.loginalert{
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.login-field{
    padding: 5px;
    width: 100%;
}

.control-group{
    padding: 10px 0px;
    width: 100%;
}

.logos{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.loginsubmit{
    width: 100%;
    padding: 10px;
}
.btn{
    margin: 0;
    padding: 10px 0px;
    margin-top: 15px;
}