.EMS.county {
  fill: #a79d96; /* ANGELL HALL ASH */
}

.ED.county {
  fill: #9b9a6d ; /* BURTON TOWER BEIGE */
}

.ME.county {
  fill: #989c97 ; /* THE ROCK GRAY */
}

#ED{
  background-color: rgba(228,225,223, 0.25)

}

.mapEMS, .mapED, .mapME {
  margin-bottom : 20px;
  padding: 5px;
}

/* commented out code was used to debug map position */
/*
.mapEMS{
  background-color: blue;
}

.mapED{
  background-color: red;
}

.mapME{
  background-color: green;
} */

.tooltip p {
  margin: 2px !important;
}

path.county {
  stroke: #fff !important;
}

path.county:hover, circle.city:hover {
  fill: #ffcb05 !important;
  cursor: pointer !important;
}

circle.city {
  fill: #575294  !important;
  stroke: white !important;
}

.extraMapPadding{
  padding-bottom: 20px;
}
