/*  print view css */

/*  Referenced: https://www.sitepoint.com/css-printer-friendly-pages/ */
/* Referenced: https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/ */


@page {
  size:  auto;   /* auto is the initial value */
  margin: 0mm;  /* this affects the margin in the printer settings */
}

@media print {
  body {
    /* border: solid 1px red ; */
    margin: 0mm; /* margin you want for the content */
  }
  .sidebuff {
    color: white !important;
    opacity: 0 !important;
  }
  .sidenav {
    color: white !important;
    opacity: 0 !important;
  }

 .accordion .list-group-item-text a {
    color: white !important;
    opacity: 0 !important;
  }

  * {
    /* https://www.lockedownseo.com/chrome-print-preview-differs-from-dev-tools/ */
    -webkit-transition: none !important;
    transition: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 19pt !important;
  }

  .sticky-top {
    position: relative !important;
  }

  .map-insert {
    padding-top: 10px !important;
  }

  th {
    background-color: white !important;
    color: black !important;
  }

  .demographics {
    page-break-before: always !important;
  }
}
