.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: black;
}

.navbar a:hover {
  color: black !important;
  background-color: #CCC !important;
}

.navbar .active {
  font-weight: bold;
}

.navbar a {
  color:#FFFFFF !important;
}

.topdatebuff {
  padding-top: 50px;
}

.content {
  height: 100%;
}

.srcbutton{
  background-color: black !important;
  color: white !important;
  border: none;
}
.srcbutton:hover{
  text-decoration: underline;
}

.srcbutton:active{
  font-weight: bold;
}
.srcbutton:focus{
  font-weight: bold;
}

.row.content {
  height:auto;
}

.sidenav {
  padding-top: 120px;
  background-color:#00274c !important;
  height: inherit;
}

.footer {
  position: absolute;
  background-color: black;
  right: 0;
  left: 0;
  /* bottom: -200; */
  padding: 45px;
  width: 100%;
}

li {
  list-style: none;
}

#race, #age, #gender {
  width: 100%;
  margin: 5px;
}

section {
  margin-top: 40px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  padding: 10px;
  font-weight: 400;
  text-transform: capitalize;
}

th {
  background-color: #2E4B70;
  color: white;
  text-align: center;
  font-weight: 600;
}

.container-top-buffer {
  margin-top:20px;
}

.top-buffer {
  margin-top:50px;
  margin-bottom: 25px;
}

.section-buffer {
  margin-top: 60px;
}

.list-group-item-action {
  font-size: 20px !important;
  margin: 5px;
}

.accordion .list-group-item-action:after {
    font-family: 'FontAwesome';
    content: "\f078";

}

.accordion .list-group-item-action.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f053";
}

.accordion .list-group-item-text a {
  color: white;
}

.accordion .list-group-item-text a:hover {
  background-color:#B5CEEE;
  color: #00274c;
}

.accordion .list-group-item-text a:focus {
  background-color:#B5CEEE;
  color: #00274c;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.accordion .list-group a {
  background-color: #00274c;
  color: white;
  font-size: 14px;
  border: none;
}

.accordion .list-group {
  background-color: #00274c;
  border: none;
}

.btn {
  margin: 10px;
}

.centerimage img {
  width:100%;
  padding: 5px;
}

#dashboard-landing-img {
  width:80%;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sidebuff {
  height: inherit;
  background-color: #00274c;
}

h2 {
  font-weight: bold;
}

#datasource {
  font-weight: bold;
}

#N {
  font-size: 80px;
}
#Np {
  font-weight: bold;
  font-size: 36px;
}

#Pct {
  font-weight: bold;
}

#gender {
  background-color: #F8F8F8;
}

.eachDemographic {
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 5px;
}

.backtotop {
  padding: 15px;
}

.timetable-insert {
  padding-top: 50px;
}

.rightbuff {
  background-color:#00274c;
  height: 100%;
}

.footstyle {
  background-color: black;
  color: white;
}

.footer .list-group {
  background-color: transparent;
}

.footer .list-group-item {
  font-size: 16px;
  display: block;
  padding: 10px;
  background-color: transparent;
}

.footlink {
  color: white;
  text-decoration: underline;
  margin: 5px;
}

.footlink:hover {
  font-weight: bold;
}

div.sticky-top {
  background-color: white;
  top: 50px;
  padding: 5px;
}
/*  https://stackoverflow.com/questions/29258382/bootstrap-align-divs-to-top-middle-and-bottom */
.vbottom {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

.resetButton {
  height: 20px;
  background-color: white;
  border-style: hidden;
  font-size: 12px;
}

.tablebuttondiv {
  padding-top: 50px;
  padding-bottom: 15px;
}
.tablebutton {
  background-color: #2E4B70;
  color: white;
  padding: 8px;
  border-style: none;
  border-radius: 5px;
}

.timetablebutton {
  background-color: #2E4B70;
  color: white;
  padding: 8px;
  border-style: none;
  border-radius: 5px;
}

.timetablebutton:focus {
  background-color:  #00274c;
  color: white;
}

.tablebutton:focus {
  background-color:  #00274c;
  color: white;
}

.timetablebutton:hover {
  background-color: #243c59;
}

.tablebutton:hover {
  background-color:#243c59;
}

.selected {
  background-color: #00274c;
}

.disclaimer{
  font-style: oblique;
  font-size: 10px;
}

.notipc{
  margin: 20px;
  display: inline-block;
  height: 50px;
}
.isIpc{
  background-color: white;
  margin: 20px;
  display: inline-block;
  height: 20px;
}

@media screen and (min-width:700px) {
  .sidenav {
    padding-top: 50px;
  }
}
