/* bar chart text */
.chart {
    font-weight: bold;
    font-family: 'Helvetica';
    text-anchor: middle;
}

/* text inside donut chart */
.count {
    font: 16px sans-serif;
    text-anchor: middle;
}

/* text for label */
.total {
    font-size: 3em;
    text-anchor: middle;
    font-family: 'Helvetica';

}
.age-group {
    font-weight: bold !important;
}


.age-chart, .race-chart, .gender-chart{
padding: 10px;

}
.age-chart{

}

.gender-chart{

  padding-left: 30px;
}
.race-chart{

}
