<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!--Title of landing login page-->
  <title>About the System for Opioid Overdose Surveillance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- icon  -->
  <link rel="icon" type="image/png" href="/static/images/icon_t.png">

  <!-- BS and FA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.4.7/crossfilter.min.js"></script>
  <script src="//d3js.org/topojson.v3.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

  <!-- general style -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/landingcss.css">
  <link rel="stylesheet" href="/static/css/aboutcss.css">

  <!--Google Fonts Noto Sans-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">


</head>
<body>
  <!-- accessibility skip to main tab index -->
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  <!-- top navigation -->
  
  <nav class = "navbar navbar-expand-sm sticky-top">
      <a class="navbar-brand" href="https://injurycenter.umich.edu/" target="_blank">
          <img class="topIPC" src="/static/images/IPC.png">
      </a>
        <ul class = "navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class = "nav-item">
              <a class="nav-link  current" href="/about">ABOUT</a>
            </li>
            <li class = "nav-item">
              <a class="nav-link" href="/contact">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><span class="fa fa-sign-in"></span> Login</a>
            </li>
        </ul> 
  </nav>

  <div class="container-fluid container-top-buffer all">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class = "col-sm-8 allstuff">
        <div class= "allabout row content d-flex justify-content-center align-items-center">
          <div class = "col-sm-8">
           
            <div class="welcome text-center">
              <h2>About the System for Opioid Overdose Surveilance (SOS)</h2>
            </div>
            <div class="aboutSOS">
                <p class="text-left">SOS is a near real-time opioid overdose surveillance system created through a partnership between the University of Michigan Injury Prevention Center and Michigan High Intensity Drug Trafficking Areas (HIDTA).  
                SOS provides near real-time mapping of non-fatal and fatal overdose cases as well as aggregate data briefs to facilitate timely public health and public safety responses. 
                </p>
            </div>
            <div class="datasources">
                <p class="text-left">Data sources:</p>
                <p class="text-left sourcemargin">
                    <u>Emergency Medical Services (EMS)</u> data is obtained through the <b>Michigan EMS Information System (MI-EMSIS)</b> and includes statewide cases of naloxone administration. Naloxone administration may not indicate an opioid overdose, as naloxone is commonly administered by first responders to any unresponsive patient. Naloxone administration incident and city location is displayed on the SOS map as reported by EMS agencies to MI-EMSIS. Not all EMS agencies report incidents on a real-time basis and cases may be under-reported.
                </p>

                <p class="text-left sourcemargin">
                    <u>Fatal suspected overdose</u> data is obtained through the electronic death database, <b>Medicolegal Death Investigation Log (MDILog)</b> and <b>individual county medical examiners</b>. Suspected overdose cases are determined through death investigators and updated to SOS on a daily basis.      
                </p>
                <p class="text-left">  
                    Generally, 90% of suspected fatal overdoses are later confirmed to be drug related. In the future, SOS will be updated to reflect confirmed drug related deaths and include the specific drugs involved. Due to the near-real time nature of SOS, all data collected is provisional and subject to change. Data may not always be complete and data should not be considered a definitive opioid overdose. All points on the map are approximate. 
                </p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <footer class="footer mt-auto py-3">
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-right d-flex justify-content-end">
                <p>&copy 2019 The Regents of the University of Michigan</p>
              </div>
          </div>
      </div>
    </footer>
</body>
</html>
