<!DOCTYPE html>
<html lang="en">
<head>
  <!--Title uses flask to update data source-->
  {% if data.placename in counties %}
    <title> {{ data.placename }}  County {{  data.src  }} - SIMULATED</title>
  {% else %}
    <title> {{ data.placename }} {{  data.src  }} - SIMULATED</title>
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- icon  -->
  <link rel="icon" type="image/png" href="/static/images/icon_t.png">

  <!-- BS and FA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.4.7/crossfilter.min.js"></script>
  <script src="//d3js.org/topojson.v3.min.js"></script>

  <!-- general style -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!--timetable -->
  <link rel="stylesheet" href="/static/css/timetable.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!--mapbox -->
  <link rel="stylesheet" href="/static/css/map.css">
  <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.1.0/mapbox-gl.js"></script>


  <!-- three charts -->
  <link rel="stylesheet" href="/static/css/tablecharts.css">

  <!-- searchpage michigan-->
  <link rel="stylesheet" href="/static/css/michigan.css">

  <!-- print style -->
  <link rel ="stylesheet" media="print" href="/static/css/print.css">

  <!-- javascript files -->
  <script src="/static/js/ageChart.js"></script>
  <script src="/static/js/genderChart.js"></script>
  <script src="/static/js/htmlTable.js"></script>
  <script src="/static/js/map.js"></script>
  <script src="/static/js/raceChart.js"></script>
  <script src="/static/js/timeSeries.js"></script>
  <script src="/static/js/dashboard.js"></script>
  <script src ="/static/js/spatialtoggle.js"></script>


</head>

<body>
  <!-- accessibility skip to main tab index -->
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  <header></header>

  <!-- top navigation -->
  <nav class="navbar navbar-expand-sm fixed-top d-print-none">
    <a class="navbar-brand" href="/">SOS Michigan Opioid Epidemic Dashboard</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% for eachsource in ['EMS', 'ED', 'ME'] %}
        <li class="nav-item">
        <!-- check the data source and apply active class. also check for city or county. -->
        {% if data.src == eachsource %}
          {% if data.placename in cities %}
            <a class="nav-link active" href="?src={{ eachsource }}&city={{data.placename}}">{{ eachsource }}</a>
          {% else %}
            <a class="nav-link active" href="?src={{ eachsource }}&county={{data.placename}}">{{ eachsource }}</a>
          {% endif %}
        {% else %}
          {% if data.placename in cities %}
            <a class="nav-link" href="?src={{ eachsource }}&city={{data.placename}}">{{ eachsource }}</a>
          {% else %}
            <a class="nav-link" href="?src={{ eachsource }}&county={{data.placename}}">{{ eachsource }}</a>
          {% endif %}
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="container-fluid container-top-buffer">
    <!-- container-top-buffer is defined in style.css -->
    <div class="row content">

      <!-- side navigation -->
      <div class="col-sm-1 sidenav text-right push-1">
        <div id="accordion" class="accordion">
          <!-- accordion has extra styling rules in style.css -->
          <div class="panel list-group">
          {% for each in names %}
          <!-- add each place to the sidenav under appropriate alphabet -->
            <a href="#{{ each }}-sec" data-parent="#accordion" data-toggle="collapse" class="list-group-item-action accordion-toggle collapsed">
              {{ each }}
            </a>
            <div class="collapse collapse-in" id="{{ each }}-sec">
              <ul class="list-group-item-text">
                {% for item in names[each] %}
                  {% if item in counties %}
                    {% set county = item %}
                    <li><a href="?src={{ data.src }}&county={{ item }}">{{ item }}</a></li>
                  {% else %}
                    <li><a href="?src={{ data.src }}&city={{ item }}">{{ item }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <!-- screen view  content -->
        <div class="col-sm-10 text-center"  id="content" tabindex="-1">
          <!-- sticky information bar, with variables inserted through flask -->
          <div class="row top-buffer sticky-top border-bottom">
              <div class= "col-sm-4 text-left">
                {% if data.placename in counties %}
                  <h2 id="countyname">{{ data.placename }} County</h2>
                {% else %}
                  <h2 id="countyname">{{ data.placename }}</h2>
                {% endif %}
                <h4 id="datasource">{{ data.src }} - SIMULATED</h4>
                {% if data.src == 'EMS' %}
                  <img src = "/static/markers/ambulance_icon_blues.svg" alt = "ambulance represents EMS data">
                {% endif %}
                {% if data.src == 'ME' %}
                  <img src = "/static/markers/morguetable_5.svg" alt = "morgue table represents ME data">
                {% endif %}
                {% if data.src == "ED" %}
                  <img src = "/static/markers/hospital_icon_blues.svg" alt = "hospital represents ED data">
                {% endif %}
              </div>
              <div class="col-sm-4">
                <div class="row vbottom">
                  <div class="col-sm-12">
                    <h4 class="summary d-inline" id="dayRange1"> </h4><h5 class="d-inline"> to</h5>
                    <h4 class="summary d-inline" id="dayRange2"></h4>
                  </div>
                </div>
              </div>
              <div class= "col-sm-4 text-right">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="summary" id="N"></h2><p>total</p>
                  </div>
                  <div class="col-sm-4 text-left">
                    <h3 class="summary" id="Np"></h3><p>incident(s)</p>
                    <h3 class="summary" id="Pct"></h3>
                  </div>
                </div>
              </div>
          </div>

          <!-- Map -->
          <div class = "row">
            <div class = "col-sm-11">
              <div class="map-insert" align="center">
                <div class="map" id="map"></div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="map-toggle" align="center">
                <label class="switch">
                  <input type="checkbox" id = "toggle-button" onclick="toggleSpatialFilter();">
                  <span class="slider round"></span>
                </label>
                <p>Toggle Spatial Filter</p>
            </div>
            </div>
          </div>

          <!-- Timeseries -->
          <div class="timetable-insert">
            <button class="timetablebutton" onclick="changeDate('oneweek');"> 1W </button>
            <button class="timetablebutton" onclick="changeDate('twoweeks');"> 2W </button>
            <button class="timetablebutton" onclick="changeDate('onemonth');"> 1M </button>
            <button class="timetablebutton" onclick="changeDate('threemonths');"> 3M </button>
            <button class="timetablebutton" onclick="changeDate('yeartodate');"> YTD </button>
            <div class="timetable bottombuffer"></div>
          </div>

          <!-- Demographics -->
          <div class="row demographics">
          {% for item in ["Age", "Gender", "Race"] %}
            <div class="col-sm-4 mx-auto">
              <div class="row-content text-center bottombuffer">
                <h4 class="eachDemographic">{{ item }}</h4>
              </div>
              <div class="row {{item}}-chart center-block f-flex alogn-items-centerS">
                {% if item == "Age" %}
                  <button class="resetButton"onclick="resetAge()"> reset age </button>
                  <svg id="age"></svg>
                {% endif %}
                {% if item == "Gender" %}
                  <button class="resetButton" onclick="resetGender()"> reset gender </button>
                  <svg id="gender"></svg>
                {% endif %}
                {% if item == "Race" %}
                  <button class="resetButton" onclick="resetRace()"> reset race </button>
                  <svg id="race"></svg>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="resetButton" onclick="resetAll()"> reset demographics </button>
            </div>
          </div>


          <!-- Table -->
          <div class="tablebuttondiv">
            <button onclick="changeRows(10);" class="ten change selected tablebutton"> 10 rows </button>
            <button onclick="changeRows(20);" class="twenty change tablebutton"> 20 rows </button>
            <button onclick="changeRows(50);" class="fifty change tablebutton"> 50 rows </button>
          </div>
          <div class="table-responsive bottombuffer">
            <table id="sosTable" class="table table-bordered table-striped table-hover"></table>
          </div>

          <!-- Buttons, currently disabled -->
          <!-- <div class="row top-buffer buttons d-print-none">
            {% for itm in ["Save", "Email", "Print"] %}
              <div class="col-sm">
                {% if itm == "Print" %}
                  <button type="button" class="btn-lg btn-primary" onclick="window.print(); return false;">{{ itm }}</button>
                {% else %}
                  <button type="button" class="btn-lg btn-primary disabled">{{ itm }}</button>
                {% endif %}
            </div>
            {% endfor %}
          </div> -->
          <!-- Back to top link -->
          <div class = "row backtotop">
            <div class = "col-sm">
              <a href="#content">Back to Top</a>
            </div>
          </div>
        </div>


  <div class="col-sm-1 sidebuff">  </div>
  </div>
  <footer class="footer d-print-none">
    <div class="footstyle container-fluid text-center">
      <div class="row text-center">
        {% for thing in ["Links", "Contact","Help"] %}
          <div class="col-sm-4 text-center">
              <h4>{{ thing }}</h4>
            <div class="list-group">
              <li class="list-group-item"><a class="footlink" href="#">About the data</a></li>
              <li class="list-group-item"><a class="footlink" href="#">About this site</a></li>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </footer>
  <!-- setting leaflet-mapbox icons through Flask -->
  {% if data.src == "EMS" %}
    <script>
    var tableIcon = L.icon({

        iconUrl: '/static/markers/ambulance_icon_blues.svg',
        iconSize:     [25,25], // size of the icon
        iconAnchor:   [15,15], // point of the icon which will correspond to marker's location
      });
    </script>
  {% endif %}
  {% if data.src == "ED" %}
    <script>
    var tableIcon = L.icon({

        iconUrl: '/static/markers/hospital_icon_blues.svg',
        iconSize:     [25,25], // size of the icon
        iconAnchor:   [15,15], // point of the icon which will correspond to marker's location
      });
    </script>
  {% endif %}
  {% if data.src == "ME" %}
    <script>
    var tableIcon = L.icon({

        iconUrl: '/static/markers/morguetable_5.svg',
        iconSize:     [25,25], // size of the icon
        iconAnchor:   [15,15], // point of the icon which will correspond to marker's location
      });
    </script>
  {% endif %}

  <script>
  // Mapbox - Flask variables
    centerMapbox = {{ data.center }};
    county_geojson = "{{ url_for('static',filename=data.f_geojson) }}";
    zoomMapbox = {{ data.zoom }};

    // populate data graphics
    makeDashboard("/static/data/map_fake.csv", "{{ data.placename }}");
</script>
</body>
</html>
