<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!--Title of landing login page-->
  <title>SOS Michigan Opioid Epidemic </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- icon  -->
  <link rel="icon" type="image/png" href="/static/images/icon_t.png">

  <!-- BS and FA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.4.7/crossfilter.min.js"></script>
  <script src="//d3js.org/topojson.v3.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

  <!-- general style -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/logincss.css">


</head>
<body>
  <!-- accessibility skip to main tab index -->
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  <header>
    <!-- cool image, perhaps -->
  </header>

  <!-- top navigation -->
  <nav class="navbar navbar-expand-sm fixed-top d-print-none">
    <div class = "container-fluid">
      <div class = "navbar-header">
          <a class="navbar-brand" href="/">SOS Michigan Opioid Epidemic Dashboard</a>
      </div>
     </div>
  </nav>

  <div class="container-fluid container-top-buffer">
    <div class="row allpagestuff">
        <div class="col-sm-1 sidebuff"></div> <!--close styled column-->
        <div class = "col-sm-10">
            <div class = "row logins">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 loginform">
                    {% if session['logged_in'] %}
                        <div class = "row alert">
                            <div class="col-sm-12 text-center">
                                <p class = "loginalert">You are already logged in.</p>
                            </div>
                        </div>
                    {% else %}
                        <div class = "row alert">
                            <div class="col-sm-12 text-center">
                                <p class = "loginalert">{{ redirerror }}</p>
                            </div>
                        </div>
                        <form action="/login" method="POST">
                            {{ form.csrf_token }}
                            {{ form.name }}
                            <div class="login-form">
                                <h2>Login</h2>
                                <div class="control-group">
                                    <label class="fa fa-user" for="login-name"></label>
                                    <input type="text" class="login-field" value="" placeholder="user" name="username">
                                </div>
                                <div class="control-group">
                                    <label class="fa fa-lock" for="login-pass"></label>
                                    <input type="password" class="login-field" value="" placeholder="pwd" name="password">
                                </div>
                                <input type="submit" value="Go Behind the Curtain" class="loginsubmit btn btn-primary btn-large">		 
                            </div>
                        </form>

                    {% endif %}
                    {% if error %}
                        <p class = 'loginalert'>{{ error }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-4"></div>
            </div> <!--close row logins-->
            <div class= "row logos">
                <div class = "col-sm-12 logostuff">
                    <div class = "col-sm-12 d-flex justify-content-center align-items-center">
                    <img class="isIpc" src = "/static/images/IPC.png"></img>
                    <img class = "notipc" src = "/static/images/SOS.png"></img>
                    <img class = "notipc" src = "/static/images/hidta.png"></img>
                </div> <!--close col-sm-12 logostuff-->
            </div> <!--close row logos-->
        </div> <!--close col-sm-10-->
      </div> <!--close main row-->
      
      <div class = "col-sm-1 sidebuff"></div>
    </div>
    <footer class="footer d-print-none">
    </footer>
</body>
</html>