<!DOCTYPE html>
<html lang="en">
<head>
  <title>SOS Reports</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- icon  -->
  <link rel="icon" type="image/png" href="/static/images/icon_t.png">

  <!-- BS and FA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="//d3js.org/topojson.v3.min.js"></script>

  <!-- general style -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/nondatastyle.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- searchpage michigan-->
  <link rel="stylesheet" href="/static/css/michigan.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm fixed-top d-print-none">
    <div class = "container-fluid">
      <div class = "navbar-header">
          <a class="navbar-brand" href="/search">SOS Michigan Opioid Epidemic Dashboard</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li class = "signout"><a href = "/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
      </ul>
     </div>
  </nav>

  <div class="container-fluid container-top-buffer">
    <div class="row content">
      <div class="col-sm-1 sidebuff"></div>

      <div class="col-sm-10 top-buffer center-align">
        <h2 class="header text-center">S.O.S. Dashboard</h2>
        <div class="container">

          <div class="row content">
            <div class="col-sm-12 d-flex justify-content-center">
              <div class="onemap" id="onemap"></div>
            </div>
          </div>

          <div class = "row content">
            <div class = "col-sm-12 text-center">
              <h4>Please select data source:</h4>
            </div>
          </div>

          <div class="row content">
            <div class="col-sm-12 d-flex justify-content-center">
              <div class="form-check form-check-inline radios"  id = "radios">
                <input class="form-check-input" type="radio" name="Radio" id="EMSRadio" value="EMS" onchange = "updateGlobal(this)" checked> EMS
              </div>
              <!-- <div class="form-check form-check-inline radios">
                <input class="form-check-input" type="radio" name="Radio" id="EDRadio" value="ED" onchange = "updateGlobal(this)"> ED
              </div> -->
              <div class="form-check form-check-inline radios">
                <input class="form-check-input" type="radio" name="Radio" id="MERadio" value="ME" onchange = "updateGlobal(this)"> ME
              </div>
            </div>
          </div>

          <div class = "row content">
            <div class="col-sm-12 d-flex justify-content-center">
              <form class = "form-inline formthing" onsubmit="return navPlace()">
                <input class="form-control autocomplete" method="GET" autocomplete="off" id="searchthing" placeholder="City or County Name" aria-label="Search" type="text">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div>
          <div class = "row content">
            <div class="col-sm-12 tallerpage"></div>
          </div>

        </div>
      </div>
      <div class="col-sm-1 sidebuff"></div>
    </div>
  </div>
  </div>
  <!-- footer -->
  <footer class="footer d-print-none">
    <div class="footstyle container-fluid text-center">
      <div class="row text-center">
        {% for thing in ["Links", "Contact","Help"] %}
          <div class="col-sm-4 text-center">
            <h4>{{ thing }}</h4>
            <div class="list-group">
              <li class="list-group-item"><a class="footlink" href="#">About the data</a></li>
              <li class="list-group-item"><a class="footlink" href="#">About this site</a></li>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  <!-- scripts -->
  <script src= "/static/js/makeSearchMichSvg.js"></script>
  <script src= "/static/js/autocomplete.js"></script>
  <script src= "/static/js/navfromsearch.js"></script>
  <script src="/static/js/srcFromRadio.js"></script>
  <script>
  var globalDataSource="";
  updateGlobal();
  make_map(ONE, "ONE");

  // flask variable setting because this cannot be in an external js doc. used in autocomplete.js
  var inputOptions = {{ data.placenames|safe }};

  //run autocomplete, defined in autocomplete.js
  autocomplete(document.getElementById("searchthing"), inputOptions);
</script>

</body>
</html>
