<!DOCTYPE html>
<html lang="en">
<head>
  <title>SOS Authorized User Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- icon  -->
  <link rel="icon" type="image/png" href="/static/images/icon_t.png">

  <!-- BS and FA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="//d3js.org/topojson.v3.min.js"></script>

  <!-- general style -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/nondatastyle.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- searchpage michigan-->
  <link rel="stylesheet" href="/static/css/michigan.css">

  <!--Google Fonts Noto Sans-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
</head>

<body>
  <script>  var cities = {{citylst | safe}}</script>
  <nav class="navbar navbar-expand-sm sticky-top">
    <div class = "container-fluid">
      <div class = "navbar-header">
          <a class="navbar-brand" href="/search">SOS Authorized User Dashboard</a>
      </div>
      <ul class = "navbar-nav ml-auto">
        <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
        </li>
        <li class = "nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class = "nav-item">
          <a class="nav-link" href="/contact">CONTACT US</a>
        </li>
        <li class = "nav-item signout">
            <a class = "nav-link" href = "/logout"><span class="fa fa-sign-out"></span> Logout</a>
          </li>
      </ul>
     </div>
  </nav>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-12 bodystuff">
        <h2 class="header text-center">SOS Authorized User Dashboard</h2>
          <div class="row d-flex align-items-center justify-content-center">
              <div class="col-sm-6">
                  <div class="row datasourceselect">
                      <div class="col-sm-12 d-flex justify-content-center align-items-center">
                        <h5 class="text-center">Please Select Data Source:</h5>
                        <div class="form-check form-check-inline radios"  id = "radios">
                          <input class="form-check-input" type="radio" name="Radio" id="EMSRadio" value="EMS" onchange="selectSrc(this)" checked> EMS
                        </div>
                        <div class="form-check form-check-inline radios">
                          <input class="form-check-input" type="radio" name="Radio" id="MERadio" value="ME" onchange="selectSrc(this)"> ME
                        </div>
                      </div>
                    </div>
                <div class = "row search">
                    <div class="col-sm-12 d-flex justify-content-center align-self-center">
                      <form class = "form-inline formthing" onsubmit="navPlace()">
                        <input class="form-control autocomplete form-inline" method="GET" autocomplete="off" id="searchthing" placeholder="City or County Name" aria-label="Search" type="text" required>
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                    </div>
                </div>
                
              </div>
            <div class="col-sm-6 d-flex justify-content-center">
              <div class="onemap" id="onemap"></div>
            </div>

          </div>
        </div>
      </div>
  </div>

  <!-- footer -->
  <footer class="footer mt-auto py-3">
    <div class="container-fluid">
      <div class="row logos d-flex align-items-center justify-content-between">
        <a href="https://injurycenter.umich.edu/" target="_blank">
          <img class="bottomIPC" src="/static/images/IPC.png">
        </a>
        <p>&copy 2019 The Regents of the University of Michigan</p>
            </div>
        </div>
    </div>
</footer>
  <!-- scripts -->
  <script src= "/static/js/makeSearchMichSvg.js"></script>
  <script src= "/static/js/autocomplete.js"></script>
  <script src= "/static/js/navfromsearch.js"></script>
  <script src="/static/js/srcFromRadio.js"></script>
  <script>
  let dataSource="EMS";
  selectSrc();
  make_map(ONE, "ONE");

  // flask variable setting because this cannot be in an external js doc. used in autocomplete.js
  let inputOptions = {{ data.placenames|safe }};

  //run autocomplete, defined in autocomplete.js
  autocomplete(document.getElementById("searchthing"), inputOptions);
</script>

</body>
</html>
