<!DOCTYPE html>
<html lang="en">
<head>
  <!--Title uses flask to update data source-->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- icon  -->
  <link rel="icon" type="image/png" href="/static/images/icon.png">

  <!-- BS and FA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.4.7/crossfilter.min.js"></script>
  <script src="//d3js.org/topojson.v3.min.js"></script>

  <!-- general style -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!--timetable -->
  <link rel="stylesheet" href="/static/css/timetable.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!--mapbox -->
  <link rel="stylesheet" href="/static/css/map.css">
  <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet'>


  <!-- three charts -->
  <link rel="stylesheet" href="/static/css/tablecharts.css">

  <!-- searchpage michigan-->
  <link rel="stylesheet" href="/static/css/michigan.css">


  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <!-- accessibility skip to main tab index -->
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  <header></header>

  <div class="container-fluid container-top-buffer">
    <div class="row content">

      <!-- side navigation currently have hard-coded links to location pages, but will use flask iteration to generate -->
      <div class="col-sm-2 sidenav text-right push-1">
        <div id="accordion" class="accordion">
          <div class="panel list-group">
            <v-for="item in list" a href="#{{ item }}-sec" data-parent="#accordion" data-toggle="collapse" class="list-group-item-action accordion-toggle collapsed navthing">
              {{ item }}
            </a>
            <div class="collapse collapse-in" id="{{ item }}-sec">
              <ul class="list-group-item-text">

                  <li><a href="/{{ item }}/{{item }}">{{ item }}</a></li>

              </ul>
            </div>

          </div>
        </div>
      </div>
      <script>
      var navthing = new Vue({
        el: navthing
        list:[ "hello", "hi", "alchemy", "vue"


      ]
      })
      </script>

</body>
</html>
